body{

    color: black;

    justify-content: left;
    padding-top: 50px;
    align-content: center;
    display: flex;

}

ul{

    list-style-type: none;

    padding: 0;
    margin: 0;

    box-sizing: border-box;

    font-family: sans-serif;
 
}
.texto{

    padding-left: 150px;
}
.nav{

   position: fixed;
   width: 60px;
   height: 450px;
   background-color: #e7e9e4;
   box-shadow: 10px 0 0 #bfe9a3;
   border-left: 20px;
   overflow-x: hidden;
   transition: width 1s;
 
}
.nav:hover{
    width: 200px;
}

.nav ul{
    position: relative;
    padding-top: 30px;
    padding-left: 10px;
}

.nav ul li a{

    position: relative;
    display: block;
    width: 100%;
    display: flex;
    text-decoration: none;
    color: #000000;
}

.nav ul li a .icon{

    padding-top: 20px;
    padding-left: 10px;
    display: flex;
    min-width: 60px;
    height: 30px;
    text-align: center;

}

.nav ul li a .icon ion-icon{
    font-size: 25px;
}

.nav ul li a .lista{
    position: relative;
    padding-top: 5px;
    font-size: 50px;
}

.nav ul li a:hover{

   background-color: #bfe9a3;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
   border-left: 20px;

}